@model support_project.Context.sinh_vien

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa thông tin sinh viên</h2>

@using (Html.BeginForm("Edit","Student",FormMethod.Post,new {enctype ="multypart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left:40px;">
 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_sinh_vien)

        <div class="form-group">
            <label>Tên sinh viên</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten_sinh_vien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ten_sinh_vien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giới tính</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.gioi_tinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gioi_tinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Ngày sinh:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_sinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngay_sinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Số điện thoại:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mô tả:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mo_ta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mo_ta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tên công ty</label>
            <div class="col-md-10">
                @Html.DropDownList("id_cong_ty", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_cong_ty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tên khoa</label>
            <div class="col-md-10">
                @Html.DropDownList("id_khoa", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_khoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
