@using PagedList.Mvc;
@model PagedList.IPagedList<support_project.Context.cong_ty>

@{
    ViewBag.Title = "Index";
}
<style>
    input#search {
        width: 300px;
        height: 38px;
        border: 3px solid gray;
        border-radius: 4px;
    }
    li.active {
        margin: 5px;
    }
    li.PagedList-skipToNext {
        margin: 5px;
    }
    li {
        margin: 5px;
    }
    .pagination-container {
        margin-left: 550px;
    }
</style>
<h2>Danh sách công ty thực tập</h2>
<br />
@using (Html.BeginForm("Index", "Company", FormMethod.Get))
{
    <div class="form-group" style="margin-left:300px;">
        Tìm công ty: @Html.Editor("search", ViewBag.CurrentFilter as string)
        <input type="submit" class="btn btn-info" value="Tìm kiếm" />
    </div>
    <hr />
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>Tên công ty</th>
        <th>Địa chỉ </th>
        <th> Số điện thoại </th>
        <th> Email </th>
        <th>Tên chuyên ngành</th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ten_cong_ty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_chi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chuyen_nganh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.id_cong_ty }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.id_cong_ty }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id_cong_ty })
            </td>
        </tr>
    }

</table>
<center><br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
</center>
